/* CSCI362 Software Engineering
 * Class Project - Mission: Math!
 * stylesheet.css - CSS file for the Mission: Math! application, to apply global styles to font, colors from the color palette, and other elements.
 *
 * @author Kevin Pinto
 * */


.text {
    -fx-font-family: "Space Mission";
    -fx-font-size: 20px;
}

#title {
    -fx-font-family: "Space Mission";
    -fx-font-size: 120px;
    -fx-font-weight: bold;
}

.tooltip {
    -fx-font-family: "Space Mission";
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(255, 255, 255);
}

#andromedaText {
    -fx-font-family: "Space Mission";
    -fx-font-size: 60px;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(97, 197, 184);
}

#andromedaText:hover {
    -fx-text-fill: rgb(255, 255, 255);
}


#intergalacticAlgebraText{
    -fx-font-family: "Space Mission";
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}

#cosmicCountingText {
    -fx-font-family: "Space Mission";
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}

